<!-- start custom footer snippets -->
<div class="footer-custom">
    <!--<a href="/sitemap/">Sitemap</a> -->
    <div class="contact-info-mobile">
      <p><a href="mailto:carlos.garcia@icmat.es">carlos.garcia at icmat.es - </a><a href="https://scholar.google.com.sg/citations?user=lDXkvhIAAAAJ&hl=en" target="_blank" rel="noopener noreferrer">Google Scholar - </a><a href="https://es.linkedin.com/in/carlos-garcía-meixide-b8ba4a1a8" target="_blank" rel="noopener noreferrer">LinkedIn - </a><a href="https://twitter.com/carlosaxelectro" target="_blank" rel="noopener noreferrer">X</a><br>
    </div>
  </div>
  <!-- end custom footer snippets -->